*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ----------------------------section-entete------------------------------------- */
#entete .business{
    font-size: 4em;
    letter-spacing: 5px;
}
#entete .deux-div {
    background: #490909;
}
/* ----------------------------section-premier------------------------------------- */
#premier{
    font-family: 'Montserrat';
}
#premier .cadre-blanc{
    
    z-index: 2;
    background: #F6E1C5;
    margin-top: 70px;
}
#premier .prem-toph{
    margin-left: -10%;
}
#premier button{
    align-self: center;

    margin-top: 50px;
    background: #490909;   
}
#premier .work {
    font-size: 32px;
    letter-spacing: 0.19em;
}
#premier .cofee{
    font-weight: 700;
    font-size: 14px;
}
#premier p{
    font-weight: 400;
    letter-spacing: 0.19em;
}
/* ----------------------------section-deuxieme------------------------------------- */
#deuxieme .container{
   
    background: rgba(165, 52, 43, 0.69);
}
#deuxieme  .contenu{
    margin-inline: 20%;
    background: #F6E1C5;
    border: rgba(165, 52, 43, 0.69) 10px ridge ;
}
#deuxieme  .contenu p{
    font-family: 'Montserrat';
}
#deuxieme .contenu h1{
    font-family: 'Montserrat';
}
#deuxieme .contenu .to-you{ 
    font-family: 'Montserrat';
    letter-spacing: 0.19em;
}
footer{
    height: 150px;
    background: #311919;
}
/* ------------------------------------about-------------------------------------- */
#premier-about .toph-about img{
    height: 418px;
    margin-left: 10%;
}
#premier-about .cadre-blanc-about{
    width: 50%;
    position: relative;
    z-index: 2;
    margin-top: -10%;
    margin-left: 21%;
    padding-bottom: 20px;
    background: #F6E1C5;
}
#premier-about .cadre-blanc-about .lorem {
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}
#premier-about .cadre-blanc-about .toph-about{
    height: 44px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 26px;
}
#premier-about  .cadre-blanc-about .para{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
/* ------------------------------------products-1-------------------------------------- */

#premier-product .container{
    margin-top: 100px;
}
#premier-product .toph-product1 img{
    margin-top: -50px;
    height: 550px;
}
#premier-product .cadre-blanc-product1{
    position: relative;
    margin-left: 55%;
    z-index: 2;
    flex-direction: column;
    background: #F6E1C5;
    border-radius: 5.03031px;
}
#premier-product .cadre-blanc-product1 .lorem{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}
#premier-product .cadre-blanc-product1 .pro{
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 44px;
    color: #000000;
}
#premier-product .cadre-blanc-product2{
    position: relative;
    margin-top: -50px;
   
    
    background: #F6E1C5;
    border-radius: 5.03031px;
}
#premier-product .cadre-blanc-product2 p{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
/* ------------------------------------products-2-------------------------------------- */

#deuxieme-product .container {
    margin-top: 100px;
}

#deuxieme-product .toph-product1 img{
    margin-top: -50px;
    width: 800px;
    height: 604px;
}

#deuxieme-product  .cadre-blanc-product1{
    position: relative;
   
    z-index: 2;
    flex-direction: column;
   
   
    background: #F6E1C5;
    border-radius: 5.03031px;
}
#deuxieme-product .cadre-blanc-product1 .lorem{
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    
    color: #000000;

}
#deuxieme-product .cadre-blanc-product1 .pro{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
   
    color: #000000;
}
#deuxieme-product  .cadre-blanc-product2{
    margin-left: 50%;
    position: relative;
    margin-top: -50px;
   
  
    background: #F6E1C5;
    border-radius: 5.03031px;
}
#deuxieme-product .cadre-blanc-product2 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

/* ------------------------------------products-3-------------------------------------- */

#troisieme-product .container {
    margin-top: 100px;
    font-family: 'Montserrat';
    font-style: normal;
}

#troisieme-product .toph-product1 img{
    margin-top: -50px;
    width: 800px;
    height: 604px;
}

#troisieme-product .cadre-blanc-product1{
    position: relative;
    margin-left: 55%;
    z-index: 2;
    flex-direction: column;
    width: 413px;
    height: 150px;
    background: #F6E1C5;
    border-radius: 5.03031px;
}
#troisieme-product .cadre-blanc-product1 .lorem{
    height: 22px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}
#troisieme-product .cadre-blanc-product1 .pro{
    height: 44px;
    font-weight: 100;
    font-size: 30px;
    line-height: 44px;
    color: #000000;
}
#troisieme-product .cadre-blanc-product2{
    position: relative;
    margin-top: -50px;
    width: 521px;
    height: 189px;
    background: #F6E1C5;
    border-radius: 5.03031px;
}
#troisieme-product .cadre-blanc-product2 p{
    height: 110px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
/* ------------------------------------deuxieme-store-------------------------------------- */
#deuxieme-store .container{
    margin-top: 100px;
    background: rgba(165, 52, 43, 0.69);
}
#deuxieme-store .horaires{
    border: solid 15px #681111;
    background-color: #F6E1C5;
    margin-top: 100px;   
    margin-bottom: 100px;
    flex-direction: column;
    
}
#deuxieme-store .horaires .come-on {
    font-family: 'Montserrat';
}
#deuxieme-store .horaires .open{
    font-family: 'Montserrat';
}
#deuxieme-store .horaires .orchard{
    font-family: 'Merienda';
}
#deuxieme-store .horaires .minnesota{
    font-family: 'MingLiU_HKSCS-ExtB';
}
#deuxieme-store .horaires .call{
    font-family: 'MingLiU_HKSCS-ExtB';
}
#deuxieme-store .horaires .num{
    font-family: 'MingLiU_HKSCS-ExtB';
}
#deuxieme-store .horaires hr{
    background: #CFAFAD solid;
}
/* -------------responsive-------------- */

@media screen AND (max-width: 791px) {
    .prem-div{
        display: none;
    }
    .deux-div{
        margin-top: 0;
    }
    body{
        height: auto;
    }
    
    #premier .prem-toph{
       margin-inline: 0;
        }

        #premier .cadre-blanc{
            z-index: 2;
            background: #F6E1C5;
            margin-top: 70px;
            margin-bottom: 70px;
            
        }
        #premier .row{
            flex-direction: column-reverse;
        }
    #premier button{
     
        margin-left: -5%;
        background: #490909;
        color: #fff;
    }
    #premier p{
        margin-left: 0;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.19em;
    }
    #premier-about .cadre-blanc-about{
        margin-top: 100px;
        margin-left: 0px;
         flex-direction: column;
         width: 100%;
        
         background: #F6E1C5;
         border-radius: 5px;
     }
     #premier-product .cadre-blanc-product1{
        position: relative;
        margin-left: 0;
        z-index: 2;
        flex-direction: column;
        
        height: 150px;
        background: #F6E1C5;
        border-radius: 5.03031px;
    }
    #deuxieme-product .cadre-blanc-product2{
        margin-left: 0;
        position: relative;
        margin-top: -50px;
       
        height: 189px;
        background: #F6E1C5;
        border-radius: 5.03031px;
    }
    #premier-about .toph-about img{
        
    position: relative;
    
      margin-inline: 0;
      width: 100%;
    }
  
    #premier-about .cadre-blanc-about{
        margin-top: 0;
        margin-inline: 0;
        position: relative;
        z-index: 2;
        padding-bottom: 20px;
        background: #F6E1C5;
        width: 100%;
    }
}

